.quiz-selection-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.quiz-list {
  width: 100%;
}

.quiz-name {
  margin-bottom: 5px;
  color: #212121;
}

.quiz-link {
  text-decoration: none;
}

.quiz-details {
  padding: 2%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  gap: 4px;
}

.quiz-description {
  margin-bottom: 5px;
  color: #757575;
}

.quiz-time {
  margin-bottom: 5px;
  color: #757575;
}

.MuiInputLabel-root {
  color: #212121;
}
.MuiSelect-icon {
  color: #212121;
}
.MuiInputBase-input {
  color: #212121;
}

