ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 1em;
  }
  
  input[type='radio'] {
    margin-right: 0.5em;
  }
  
  h2 {
    margin: 0;
  }
  
  p {
    margin: 0;
    margin-top: 0.5em;
  }
  
  button {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 0.25em;
    font-size: 1em;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: default;
  }
  